/*
            Loading css animation by tobias ahlin. http://tobiasahlin.com/spinkit/
            Weather icons by erik flowers. https://erikflowers.github.io/weather-icons/
            */
            body {
                background: #e0e0e0;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            }
            a:hover, a:focus {
                color: inherit;
                text-decoration: none;
                opacity: 0.7;
            }
            #pMe,#pBy {
                display: inline-block;
                margin-left: 5px;
                margin-top: 20px;
            }
            
            #pMe a {
                z-index: -1;
                color: #666666;
                font-weight: bold;
                transition: opacity 0.3s ease-in;
            }
            #pMe a:hover {
                opacity: 0.7;
                text-decoration: none;
            }
            #pMe a:visited {
                color: #666666;
            }

            @keyframes pMe {
                from { 
                    -webkit-transform: translate(-50px,0px); opacity: 0;
                    transform: translate(-50px,0px); opacity: 0;
                }
                to { 
                    -webkit-transform: translate(0px,0px); opacity: 1;
                    transform: translate(0px,0px); opacity: 1;
                }
            }

            @keyframes pBy {
                from { 
                    -webkit-transform: translate(0px,-50px); opacity: 0;
                    transform: translate(0px,-50px); opacity: 0;
                }
                to { 
                    -webkit-transform: translate(0px,0px); opacity: 1;
                    transform: translate(0px,0px); opacity: 1;
                }
            }

            .bg-primary {
                background-color: #039be5;
            }
            .bg-white {
                background-color: #FFFFFF;
            }
            .text-white {
                color: #FFFFFF;
            }
            .text-light {
                color: rgba(255, 255, 255, 0.7);
            }
            .text-accent {
                color: #b2ff59;
            }
            .text-capitalize {
                text-transform: capitalize;
            }
            .text-shadow {
                text-shadow: 1px 1px 1px rgba(0,0,0,.4);
            }
            .hr-title {
                border-width: 2px;
                max-width: 30%;
                margin: 15px auto;
            }
            .hr-title-primary {
                border-color: #039be5;
            }
            /* weather top section */
            .w-section {
                padding: 30px 0 90px 0;
            }
            .w-header, .w-main {
                margin-bottom: 20px;
            }
            .w-header .glyphicon-map-marker {
                margin-top: 5px;
            }
            .w-header input {
                float: left;
                min-width: 85%;
                max-width: 90%;
            }
