@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600$display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Poppins",sans-serif;
    background-color: #d8e6e9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}